* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(222, 219, 215, 1);
}
footer {
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: center;
}
.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Yeseva One";
  font-style: normal;
  color: rgba(33, 87, 28, 1);
}
h2 {
  font-family: kalnia;
  font-weight: 500;
}
h3 {
  font-family: kalnia;
  font-weight: 300;
}
button {
  font-family: "Yeseva One";
  font-style: normal;
  color: rgba(33, 87, 28, 1);
}
.col {
  justify-content: center;
  align-items: center;
}
/*****************MENU & BURGERMENU***********/

header .logo img {
  width: 50px;
  height: auto;
}
header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: solid black;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: rgba(33, 87, 28, 1);
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: kalnia;
}

.menu a:hover {
  color: white;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(222, 219, 215, 1);
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(33, 87, 28, 1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
/*****************MENU & BURGERMENU SLUT***********/
