* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lodret_tekst {
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: rgba(33, 87, 28, 1);
  padding: 10px;
}
.vandret_tekst {
  letter-spacing: 10px; /*Mellemrum mellem bogstaverne*/
  margin: 10px;
  padding: 8px;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: auto 1fr;
}
.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 11px;
}
.col {
  padding: 9px;
}
.img_1 {
  max-width: 80%; /*billedet vil aldrig være bredere end dens container*/
  height: auto;
  margin: 15px;
}
button {
  border-color: rgba(33, 87, 28, 1);
  border-radius: 50px;
  background-color: transparent;
  width: 155px;
  height: 50px;
  margin-left: 60px;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: rgba(33, 87, 28, 1);
}
